{% if global.components.footer.show_shop_name or global.components.footer.show_logo or global.components.footer.show_socials or global.components.footer.links.length > 0 %}
<footer class="footer component" data-component-id="footer">
  <div class="container">
    <div class="row py-5">
      <div class="col-12 col-md-6 col-lg-8">
        <div class="logo">
          {% if global.components.navbar.show_logo and shop.image_url %}
          <img src="{{ shop.image_url }}" alt="{{ shop.name }}" />
          {% endif %}
          <p class="fs-5 fw-bold">
            {% if global.components.footer.show_shop_name %}
            {{ shop.name }}
            {% endif %}
          </p>
        </div>
      </div>

      {% if global.components.footer.links.length > 0 %}
      <div class="col-6 col-md-3 col-lg-2">
        <h5>Navigation</h5>
        <ul class="nav flex-column">
          {% for link in global.components.footer.links %}
          <li class="nav-item mb-2">
            <a
              href="{{ link.link | shopUrl }}"
              target="{{ 'blank' if link.new_tab }}"
              class="nav-link"
              >{{ link.text if link.text else 'New Link' }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if global.components.footer.show_socials %}
      {% if shop.discord_url or shop.telegram_url or shop.instagram_url or shop.tiktok_url %}
      <div class="col-6 col-md-3 col-lg-2">
        <h5>Socials</h5>
        <ul class="nav flex-column">
          {% if shop.discord_url %}
          <li class="nav-item mb-2">
            <a href="{{ shop.discord_url }}" class="nav-link" target="_blank">Discord</a>
          </li>
          {% endif %}
          
          {% if shop.telegram_url %}
          <li class="nav-item mb-2">
            <a href="{{ shop.telegram_url }}" class="nav-link" target="_blank">Telegram</a>
          </li>
          {% endif %}
          
          {% if shop.instagram_url %}
          <li class="nav-item mb-2">
            <a href="{{ shop.instagram_url }}" class="nav-link" target="_blank">Instagram</a>
          </li>
          {% endif %}
          
          {% if shop.tiktok_url %}
          <li class="nav-item mb-2">
            <a href="{{ shop.tiktok_url }}" class="nav-link" target="_blank">TikTok</a>
          </li>
          {% endif %}
        </ul>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
</footer>
{% endif %}